@media screen and (min-width: 480px) {
  .c-header {
    border-bottom: 1px solid #ccc;
    .column {
      display: flex;
      justify-content: space-between;
      width: $container-width;
      margin: auto;
      align-items: center;
    }
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        opacity: .6;
      }
    }
    li {
      list-style-type: none;
    }
    .logo.pc {
      a {
        display: block;
      }
      img {
      width: 90px;
      height: 100%;
      margin-bottom: 8px;
      }
    }
    .logo.sp {
      display: none;
    }
    .category {
      display: flex;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -.5px;
      li + li {
        margin-left: 34px;
      }
      .children {
        display: none;
      }
    }
  }
}
