@media screen and (min-width: 480px) {
  .c-header {
    display: flex;
    justify-content: space-between;
    width: $container-width;
    margin: auto;
    align-items: center;
    .logo.pc img {
      width: 150px;
    }
    .logo.sp {
      display: none;
    }
    li {
      list-style-type: none;
    }
  }
}
