@media screen and (min-width: 480px) {
  .c-header {
    display: flex;
    justify-content: space-between;
    width: $container-width;
    margin: auto;
    align-items: center;
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        opacity: .6;
      }
    }
    .logo.pc {
      a {
        display: block;
      }
      img {
      width: 104px;
      height: 100%;
      }
    }
    .logo.sp {
      display: none;
    }
    li {
      list-style-type: none;
    }
  }
}
